<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{myname}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let element of sport">
  <ion-item>
    <ion-label>{{element}}</ion-label>
  </ion-item>
</ion-list>
<ion-button (click)="btnClick()">Забайтиться</ion-button>
<ion-grid>
  <ion-row *ngFor="let element of books">
    <ion-col>{{element.telegramname}}</ion-col>
    <ion-col>{{element.authorname}}</ion-col>
    <ion-col>{{element.price}}</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
